body {background-color: orange;
    color: white;}



a {color:#0000ff;}
a:hover {color:#ffffff;}
.evenrow {background-color: #ffa500;}

nav {background-color: #0011ff;
    padding: 10px; 
    margin-bottom: 30px;}

nav a {color:#ffffff;
    margin-bottom: 30px;
    }

nav a:hover {background-color: #708090;}

.p1 {float: left;}

.p2 {float: right;}

.r1, .r2 {display: flex;}
.r2 div {flex: 1;}
.r1, .r2{
    display: flex;
    border-radius: 25px;
    background: #ffffff;
    padding: 40px;
    margin-left: 2em;
    margin-right: 2em;}


.c1, .c2 {flex: 1;}
.r1 section {margin-top: 4em;}



.flexbox2, .coreskills, .otherskills {
    display: flex;
}

aside {
    background-color: #708090;
    padding: 15px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 20px;
}

.coreskills {
    flex: 3;
    justify-content: space-around;
}

.otherskills {
    flex: 1;
    padding: 15px;
}

.icons {
    width: 50px;
}

.myimage {
    float: right;
    margin-left: 10px;
    max-width: 100%;
}

.r2 {
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px){

    nav a {
        display: block;
        size: 100%;
    }

    span{
        display: none;
    }
}