*{font-family: 'Raleway', sans-serif;
}

body {background-color: white;
    color: black;}

img {
    height: 420px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

div img {
    display: flex;
}

nav {
    text-align: center;
    background-color: rgb(235, 106, 42);
    padding: 5px; 
    margin-bottom: 30px;
    font-size: 20px;
}

h1 {
    text-align: center;
}
.p1 {
    float: left;
}

.p2 {
    float: right;
}

.menu li {
    display: inline;
    padding-right: 20px;
}
.menu li:hover{
    transform: scale(1.2);
    transition: .4s;
}

nav a:hover {background-color: #708090;}

nav a {color:#ffffff;
    margin-bottom: 30px;
    }
#navbar {
    display:flex;
}

#navbar .header {
    float: left;
    color: white;
}





.menu li a:hover{
    transform: scale(1.2);
    transition: .4s;
}

#navbar .menu {
    /*
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: right;   */
    float: right;
}

  
.menu li {
   /*
    display: inline-block;
    margin: 0 10px;  adjust this as needed */
}